@using BreadCommunityWeb.Blz.Application.Dto.Client;

@page "/alarmevents/{factoryid}/{name}"
@inject IJSRuntime _jsRuntime
@inject HttpClient _httpClient

<h3>@Name</h3>

@if(@LanguageLabels.Any() == false)
{
    <MudInputLabel>@Localizer["Please, wait"].Value</MudInputLabel>
}
else
{
<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudSelect Label=@Localizer["Language"].Value T="string" Value="@CurrentLanguageLabel" TextChanged="((string tt)=> ChangeLanguageLabel(tt))">
            @foreach (var lang in LanguageLabels)
            {
                <MudSelectItem T="string" Value="@lang">@lang</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudDatePicker Label="Only Calendar" @bind-Date="@StartReportDate" DisableToolbar="true" HelperText=@Localizer["Start date of Report"].Value />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudDatePicker Label="Only Calendar" @bind-Date="@EndReportDate" DisableToolbar="true" HelperText=@Localizer["End date of Report"].Value />
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudFab Icon="@Icons.Material.Filled.Save" aria-label="save" OnClick="(()=>ReportDownload())" Title=@Localizer["Get Report"].Value/>
    </MudItem>
</MudGrid>
<br />

@foreach (var device in Devices)
{
    <MudGrid>
        <MudItem>
            <h3>@device.DeviceDescriptions[0].Description</h3>
        </MudItem>
        <MudItem>
            <MudCheckBox CheckedChanged="((int rr) => DropCheck(device.ExternalId))" Color="MudBlazor.Color.Primary"></MudCheckBox>
        </MudItem>
    </MudGrid>
}
}

    @code {

    }
